body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  width: 300px;
}

.form-box {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px #0ff2;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  background: transparent;
  border: 2px solid #0ff3;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s ease;
}

input:focus, input:hover {
  border-color: #0ff;
  box-shadow: 0 0 8px #0ff;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #0ff3;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0ff;
}

a {
  color: #0ff;
  cursor: pointer;
}
